$blue: #315ef7;
$btn-box-shadow: none;
$btn-active-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-border-radius: 10px;
$btn-border-width: 0;
$enable-caret: false;

@import './fonts/font-faces.css';
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

$n-blue: #2b5dff;
$n-light: #eff2ff;
$n-light-color: #2b5dff88;

.n-blue {
  color: $n-blue;
}

.n-bg-blue {
  background: $n-blue;
}

.n-fill-blue {
  fill: $n-blue;
}

.n-light {
  color: $n-light-color;
}

.n-bg-light {
  background: $n-light;
}

.n-fill-light {
  fill: $n-light;
}

.n-bolder {
  font-weight: 900;
}

.n-bold {
  font-weight: bold;
}

.n-medium {
  font-weight: 500;
}
