@import url('https://fonts.googleapis.com/css?family=Montserrat');

html,
body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #222;
    margin: 0px;
    padding: 0px;
}

.scrollToTop {
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    background-color: transparent;
    font-weight: bold;
    z-index: 99;
    color: #444;
    text-decoration: none;
    position: fixed;
    top: 75px;
    right: 40px;
    display: none;
}


.landingButton {
    font-size: 135%;
    font-weight: bold;
    color: #315ef9;
    background-color: #d7ddfa;
    padding: 16px 44px;
    border-radius: 10px;
    z-index: 999;
    transition: .3s;
}

.landingButton:hover {
    padding: 19px 49px;
    text-decoration: none;
    color: #315ef9;
}

#btnAbout{
    background-color: #315ef9;
    color: white;
}

#app, #graph{
    margin-bottom: 140px;
}
